@using NewsPost.Data.Reps
@model NewsPost.Data.Reps.IResult<IEnumerable<NewsPost.Data.Entities.Article>>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View of the unapproved list of data";
}

@if (this.User.Identity != null && this.User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col">
            <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Post" asp-action="Create">Create new Article</a>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Error))
{ 
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                @Model.Error
            </div>
        </div>
    </div>
}

<hr/>

@if (Model.Data != null && Model.Data.Any())
{
    <div class="row">
        <div class="col">
            
            <div class="accordion" id="accordionUnapprovedItems">
                @foreach (var item in Model.Data)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_@item.Id">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.Id" aria-expanded="false" aria-controls="collapse_@item.Id">
                                Post #@item.Id (Created: @item.Author, @item.DateCreated)
                            </button>
                        </h2>
                        <div id="collapse_@item.Id" class="accordion-collapse collapse" aria-labelledby="heading_@item.Id" data-bs-parent="#accordionUnapprovedItems">
                            <div class="accordion-body">
                                <div class="d-flex flex-row justify-content-between">
                                    <h5 class="mb-0">
                                        @item.Title
                                    </h5>
                                    <div>
                                        @if (User.IsInRole(ERole.Editor.ToString()))
                                        {
                                            <a class="btn btn-sm btn-success" asp-area="" asp-controller="Post" asp-action="Approve" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Approve">
                                                <i class="fas fa-clipboard-check"></i>
                                            </a>
                                        }
                                    </div>
                                </div>
                                <hr/>
                                <article>
                                    @item.Text
                                </article>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
