@model NewsPost.Data.Entities.Article

<div class="card" style="width: 18rem;">
    @*<img src="..." class="card-img-top" alt="...">*@
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.SubTitle</h6>
        <p class="card-text">@Model.Text</p>
        <a href="#" class="card-link">@Model.Author.UserName</a>
    </div>
    <div class="card-footer">
        @Model.DateCreated.ToShortDateString()
    </div>
</div>